<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.adrian.mybatistest.dao.UserMapper">

    <resultMap id="resultMap" type="org.adrian.mybatistest.domain.UserDO">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="mobile" property="mobile"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>

    <insert id="createOne" parameterType="UserDO">
        <selectKey resultType="long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO
        T_USER(id, username, password, email, mobile,
        create_time, update_time, create_by, update_by)
        VALUE
        (#{id}, #{username}, #{password}, #{email}, #{mobile},
        #{createTime}, #{updateTime}, #{createBy}, #{updateBy});
    </insert>

    <select id="selectOne" parameterType="long" resultMap="resultMap">
        SELECT * FROM T_USER WHERE id = #{id}
    </select>
</mapper>